<div class="container">
  <div class="sectioncontainer2">
    <div style="text-align: center; font-size: 30px; font-family: Arial; font-weight: bold; margin-bottom: 10px;">
      <span>Szervíz üzenetek</span>
    </div>
    <div
      style="text-align: center; font-size: 14px; font-family: Arial; font-weight: lighter; margin-bottom: 10px; word-wrap: break-word; max-width: fit-content;">
      <span>Itt találhatók a naperőmű rendszerektől érkező szervíz üzenetek. Teszteléshez ajánlott erőművek:
        Fronius At Energy Profiling, Fronius ES Madrid, Fronius Smart Meter System – Hawaii </span>
    </div>
    <mat-form-field required appearance="legacy" [hideRequiredMarker]="pvSystemInput" [floatLabel]="pvSystemInput"
      style="max-width: 330px; padding-right: 10px;">
      <mat-label>Erőmű neve</mat-label>
      <mat-select required [(ngModel)]="selectedPvSystem" name="pvsystem">
        <mat-option *ngFor="let pvsystem of pvSystemInput" [value]="pvsystem.pvSystemId">
          {{ pvsystem.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button (click)="search()">Keresés</button>
    <div class="sectioncontainer" style="margin-bottom: 15px; margin-top: 15px;" *ngIf="systemLabelVisible">
      <div *ngIf="noData"
        style="text-align: center; font-size: 20px; font-family: Arial; font-weight: bold; margin-bottom: 20px; margin-top: 20px;">
        <span>Nincs megjeleníthető adat!</span>
      </div>
      <p-table *ngIf="!noData" [value]="ServiceMessageList" [rows]="6" [paginator]="true" selectionMode="single"
        [(selection)]="selectedServiceMessage" dataKey="id" [scrollable]="true">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            {{ pvSystemName }}
            <!--p-button icon="pi pi-refresh"></p-button-->
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width:150px">
            <col style="width:100px">
            <col style="width:100px">
            <col style="width:250px">
            <col style="width:200px">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Eszköz neve</th>
            <th>Eszköz típusa</th>
            <th>Hibakód</th>
            <th>Hibaüzenet</th>
            <th>Dátum</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-serviceMessage let-rowIndex="rowIndex">
          <tr [pSelectableRow]="serviceMessage" [pSelectableRowIndex]="rowIndex">
            <td>{{ serviceMessage.deviceName }}</td>
            <td>{{ serviceMessage.deviceType }}</td>
            <td>{{ serviceMessage.stateType }} {{ '(' + serviceMessage.stateCode + ')'}}</td>
            <td>{{ serviceMessage.messageText }}</td>
            <td>{{ serviceMessage.logDateTime }}</td>
          </tr>
        </ng-template>
        <!--ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between"></div>
        </ng-template-->
      </p-table>
    </div>
  </div>
</div>