/*
:host {
  ::ng-deep .p-datatable-header {
    background: #2195f38e;
  }
}

:host {
  ::ng-deep .p-datatable {
    background: #65a2d4de;
  }
}
*/

.sectioncontainer {
  background-color: white;
  box-shadow: 0 1px 5px #b3e5fc;   //#2196f3; // #4baaf5
  border-radius: 4px;
  padding: 5px;
}

.sectioncontainer2 {
  background-color: white;
  box-shadow: 0 0px 15px #c6c9cc;
  border-radius: 4px;
  padding-bottom: 10px;
  padding: 1em;
}

.container {
  // padding: 1rem;
  margin: 1rem;
}

:host ::ng-deep .p-cell-editing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

mat-form-field {
  width: 100%;
}