<div class="container" *ngIf="isLoading"
    style="margin: auto; text-align: center; z-index: 50; position: fixed; top: 28%; left: 47%;">
    <app-loader [size]="3" [isLoading]="isLoading" style="width: 200px;"></app-loader>
</div>
<div class="container" id="mainContainer">
    <div class="sectioncontainer2">
        <div style="text-align: center; font-size: 30px; font-family: Arial; font-weight: bold; padding-bottom: 15px;">
            <span>Éves riport</span>
        </div>
        <div class="p-grid" style="text-align: center;">

            <mat-form-field required appearance="legacy" [hideRequiredMarker]="pvSystemInput"
                [floatLabel]="pvSystemInput" style="max-width: 350px;">
                <mat-label>Erőmű neve</mat-label>
                <mat-select required [(ngModel)]="selectedPvSystem" name="pvsystem">
                    <mat-option *ngFor="let pvsystem of pvSystemInput" [value]="pvsystem.pvSystemId">
                        {{pvsystem.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field required appearance="legacy" [hideRequiredMarker]="pvSystemInput"
                [floatLabel]="pvSystemInput" style="max-width: 350px;">
                <mat-label>Mértékegység</mat-label>
                <mat-select required [(ngModel)]="selectedUnit" name="unit">
                    <mat-option *ngFor="let unit of unitInput" [value]="unit">
                        {{ unit }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="legacy" style="max-width: 350px;">
                <mat-label>Vizsgált év</mat-label>
                <input required matInput [matDatepicker]="dp" [formControl]="date" [min]="minDate" [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp startView="multi-year" (yearSelected)="chosenYearHandler($event, dp)"
                    (monthSelected)="chosenMonthHandler($event, dp)">
                </mat-datepicker>
            </mat-form-field>
            <div style="margin-left: 10px; margin-top: 10px;">
                <button mat-raised-button (click)="search()" label="" icon="pi pi-search">
                    <i class="pi pi-search"></i> Keresés
                </button>
                <button mat-raised-button [disabled]="!chartIsVisible" icon="pi file-pdf">
                    <i class="pi pi-file-pdf"></i> PDF
                </button>
                <button mat-raised-button [disabled]="!chartIsVisible" icon="pi file-excel">
                    <i class="pi pi-file-excel"></i> Excel
                </button>
            </div>
        </div>
        <!--div class="p-grid">
            <div class="p-col-3">
                <mat-form-field appearance="fill">
                    <mat-label>Value serializedDate</mat-label>
                    <input matInput [matDatepicker]="picker3" [formControl]="serializedDate"
                        [value]="serializedDate.value">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
        </div-->
        <div class="sectioncontainer" style="text-align: center; margin-top: 15px; background-color: whitesmoke;" *ngIf="chartIsVisible">
            <div style="overflow-x: scroll;">
                <div>
                    <div style="min-width: 700px; max-width: 1300px; margin: auto;">
                        <div class="chart-container" style="display: block; margin: auto; position: relative;">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                [options]="barChartOptions" [colors]="color" [legend]="barChartLegend"
                                [plugins]="barChartPlugins" [chartType]="barChartType"
                                (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                        </div>
                        <!--button mat-button mat-raised-button color="primary" (click)="randomize()">Update</button-->
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>