.sectioncontainer {
  padding: 4px 4px;
  background-color: white;
  box-shadow: 0 1px 10px #2196f3;
  border-radius: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.container {
  padding: 1em;
}
