<div class="container">
  <mat-card>
    <mat-card-content>
      <div style="text-align: center; font-size: 30px; font-family: Arial; font-weight: bold; margin-bottom: 20px;">
        <span>Szakdolgozat 2021</span>
        <br>
      </div>
      <div class="p-grid" style="text-align: center;">
        <div class="p-col-12 p-md-6 p-lg-3">
          <mat-card style="min-height: 150px; margin: auto; ">
            <mat-card-content style="padding-top: 10%;">
              <mat-card-subtitle>Készítette</mat-card-subtitle>
              <mat-card-title translate>Rács Balázs</mat-card-title>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
          <mat-card style="min-height: 150px; margin: auto; ">
            <mat-card-content style="padding-top: 10%;">
              <mat-card-subtitle>Neptun kód</mat-card-subtitle>
              <mat-card-title translate>I4MES5</mat-card-title>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
          <mat-card style="min-height: 150px; margin: auto; ">
            <mat-card-content style="padding-top: 10%;">
              <mat-card-subtitle>Alkalmazás neve</mat-card-subtitle>
              <mat-card-title translate>PVS_Monitor</mat-card-title>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="p-col-12 p-md-6 p-lg-3">
          <mat-card style="min-height: 150px; margin: auto; ">
            <mat-card-content style="padding-top: 10%;">
              <mat-card-subtitle>Naperőmű rendszerek</mat-card-subtitle>
              <mat-card-title translate>11/11 db</mat-card-title>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>