<div class="container" *ngIf="isLoading"
    style="margin: auto; text-align: center; z-index: 50; position: fixed; top: 28%; left: 47%;">
    <app-loader [size]="3" [isLoading]="isLoading" style="width: 200px;"></app-loader>
</div>
<div class="container" id="mainContainer">
    <div class="sectioncontainer2">
        <div>
            <div
                style="text-align: center; font-size: 30px; font-family: Arial; font-weight: bold; padding-bottom: 15px;">
                <span>Napi riport</span>
            </div>
            <div class="p-grid" style="text-align: center;">


                <mat-form-field required appearance="legacy" style="max-width: 350px;" [hideRequiredMarker]="pvSystemInput"
                    [floatLabel]="pvSystemInput">
                    <mat-label>Erőmű neve</mat-label>
                    <mat-select required [(ngModel)]="selectedPvSystem" name="pvsystem">
                        <mat-option *ngFor="let pvsystem of pvSystemInput" [value]="pvsystem.pvSystemId">
                            {{pvsystem.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field required appearance="legacy" style="max-width: 350px;" [hideRequiredMarker]="pvSystemInput"
                    [floatLabel]="pvSystemInput">
                    <mat-label>Mértékegység</mat-label>
                    <mat-select required [(ngModel)]="selectedUnit" name="unit">
                        <mat-option *ngFor="let unit of unitInput" [value]="unit">
                            {{ unit }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="legacy" style="max-width: 350px;">
                    <mat-label>Vizsgált nap</mat-label>
                    <input required matInput [matDatepicker]="picker1" [ngModel]="date" (dateInput)="dateInput($event)"
                        [min]="minDate" [max]="maxDate">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 startView="month" [startAt]="startDate"></mat-datepicker>
                </mat-form-field>
                <div style="margin-left: 10px; margin-top: 10px;">
                    <button mat-raised-button (click)="search()" label="" icon="pi pi-search" >
                        <i class="pi pi-search"></i> Keresés
                    </button>
                    <button mat-raised-button (click)="exportPDF()" [disabled]="!chartIsVisible" icon="pi file-pdf"
                        >
                        <i class="pi pi-file-pdf"></i> PDF
                    </button>
                    <button mat-raised-button (click)="exportExcel()" [disabled]="!chartIsVisible" icon="pi file-excel"
                        >
                        <i class="pi pi-file-excel"></i> Excel
                    </button>
                </div>
            </div>
            <!--button pButton pRipple (click)="search()" icon="pi pi-search" type="button" label="Keresés"
                class="p-button-raised p-button-text p-button-plain"></button>
            <button pButton pRipple (click)="openPDF()" icon="pi pi-file-pdf" type="button" label="PDF"
                class="p-button-raised p-button-text p-button-plain"></button-->
        </div>
        <!--div class="p-grid">
            <div class="p-col-3">
                <mat-form-field appearance="fill">
                    <mat-label>Value serializedDate</mat-label>
                    <input matInput [matDatepicker]="picker3" [formControl]="serializedDate"
                        [value]="serializedDate.value">
                    <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                    <mat-datepicker #picker3></mat-datepicker>
                </mat-form-field>
        </div-->
        <div class="sectioncontainer" style="text-align: center; margin-top: 15px; background-color: whitesmoke;" *ngIf="chartIsVisible">
            <div style="overflow-x: scroll; margin-top: 20px; background-color: whitesmoke;" id="chart"  >
                <div>
                    <div style="min-width: 500px; max-width: 1200px; margin: auto;">
                        <div class="chart-container" style="display: block; margin: auto; position: relative;">
                            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels"
                                [options]="barChartOptions" [colors]="color" [legend]="barChartLegend"
                                [plugins]="barChartPlugins" [chartType]="barChartType"></canvas>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!---
    

    

    --->