<div class="container">
  <div class="sectioncontainer2">
    <div style="text-align: center; font-size: 30px; font-family: Arial; font-weight: bold; margin-bottom: 20px;">
      <span>Csoportok</span>
    </div>
    <div class="sectioncontainer" style="margin-bottom: 15px">
      <p-table [value]="GroupList" [rows]="10" [paginator]="true" selectionMode="single" [(selection)]="selectedGroup"
        dataKey="id" editMode="row" [rowHover]="true">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <div class="button-group">
              <button pButton icon="pi pi-plus" type="button" label="Új csoport"
                class=" p-button-success p-button-outlined" (click)="openNew()"></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <th>Command</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-group let-editing="editing" let-ri="rowIndex">
          <tr [pEditableRow]="group" [pSelectableRow]="group">
            <td>
              {{ group.id }}
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <mat-form-field class="example-full-width">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Name" [(ngModel)]="group.name" />
                  </mat-form-field>
                  <!--input pInputText type="text" [(ngModel)]="group.name"-->
                </ng-template>
                <ng-template pTemplate="output">
                  {{ group.name }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <p-cellEditor>
                <ng-template pTemplate="input">
                  <mat-form-field class="example-full-width">
                    <mat-label>Description</mat-label>
                    <input matInput placeholder="Description" [(ngModel)]="group.description" />
                  </mat-form-field>
                  <!--input pInputText type="text" [(ngModel)]="group.description"-->
                </ng-template>
                <ng-template pTemplate="output">
                  {{ group.description }}
                </ng-template>
              </p-cellEditor>
            </td>
            <td>
              <button pButton *ngIf="!editing" pInitEditableRow pRipple type="button" (click)="onRowEditInit(group)"
                icon="pi pi-pencil" class="p-button-rounded p-button-info p-button-outlined"></button>
              <button pButton *ngIf="!editing" pRipple type="button" icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-outlined"></button>
              <button pButton *ngIf="editing" pSaveEditableRow pRipple type="button" icon="pi pi-check"
                class="p-button-rounded p-button-success p-button-outlined"></button>
              <button pButton *ngIf="editing" pCancelEditableRow pRipple type="button" icon="pi pi-times"
                class="p-button-rounded p-button-danger p-button-outlined"></button>
            </td>
          </tr>
        </ng-template>
        <!--ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                        </div>
                    </ng-template-->
      </p-table>
    </div>
    <div class="sectioncontainer">
      <mat-tab-group>
        <mat-tab label="Erőművek">
          Content 1 Content 1 Content 1
          <br /><br /><br /><br /><br /><br /><br /><br />
        </mat-tab>
        <mat-tab label="Felhasználók"> Content 2 </mat-tab>
        <mat-tab label="Semmi"> Content 3 </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<p-dialog [(visible)]="groupDialog" [style]="{ width: '450px' }" header="Csoport" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <mat-form-field class="example-full-width" style="width: 100%">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" [(ngModel)]="group.name" id="name" type="text" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !group.name">Name is required.</small>
    </mat-form-field>

    <mat-form-field class="example-full-width" style="width: 100%">
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description" [(ngModel)]="group.description" id="description" required></textarea>
    </mat-form-field>
  </ng-template>

  <ng-template pTemplate="footer">
    <div class="buttons" style="text-align: center">
      <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-outlined p-button-success"
        (click)="saveGroup()"></button>
      <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-outlined p-button-danger"
        (click)="hideDialog()"></button>
    </div>
  </ng-template>
</p-dialog>