.sectioncontainer {
  background-color: white;
  box-shadow: 0 0 3px #2196f3;   //#2196f3; // #4baaf5
  border-radius: 4px;
  padding: 5px;
}

.sectioncontainer2 {
  background-color: white;
  box-shadow: 0 0px 15px #c6c9cc;
  border-radius: 4px;
  padding-bottom: 10px;
  padding: 1em;
}

.container {
  // padding: 1rem;
  margin: 1rem;
}

:host ::ng-deep .p-cell-editing {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
