:host {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.container {
  z-index: 10 !important;
}

@font-face {
  font-family: "DejaVuSans";
  src: url("../assets/fonts/DejaVuSans.ttf");
}
@font-face {
  font-family: "DejaVuSans";
  font-weight: bold;
  src: url("../assets/fonts/DejaVuSans-Bold.ttf");
}
@font-face {
  font-family: "DejaVuSans";
  font-style: italic;
  src: url("../assets/fonts/DejaVuSans-Oblique.ttf");
}
@font-face {
  font-family: "DejaVuSans";
  font-weight: bold;
  font-style: italic;
  src: url("../assets/fonts/DejaVuSans-BoldOblique.ttf");
}
