<div class="container">
  <div class="sectioncontainer2">
    <div class="sectioncontainer" style="margin-bottom: 15px">

      <div class="card">
        <p-dataView #dt [value]="PvSystemList" [paginator]="true" [rows]="5" filterBy="name" layout="grid" *ngIf="PvSystemList.length>0" selectionMode="single" >
          <ng-template pTemplate="header">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
              <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            </div>
          </ng-template>
          <ng-template let-pvsystem pTemplate="listItem">
            <div class="p-col-12">
              <div class="product-list-item">
                <img src="{{ pvsystem.pictureURL }}" width="200px" />
                <div class="product-list-detail">
                  <div class="product-name">Erőmű neve: {{pvsystem.name}}</div>
                  <i class="pi pi-sun product-category-icon"></i><span class="product-description">Teljesítmény: {{ pvsystem.peakPower }} W</span>
                  <br>
                  <i class="pi pi-calendar product-category-icon"></i><span class="product-description">Telepítés ideje: {{pvsystem.installationDate}}</span>
                  <br>
                  <i class="pi pi-map product-category-icon"></i><span class="product-category">Cím: {{ pvsystem.address.zipCode }} {{ pvsystem.address.city }} {{ pvsystem.address.street }}</span>
                </div>
                <div class="product-list-action">
                  <span class="product-price">{{ pvsystem.address.country }} </span>
                  <!--p-button icon="pi pi-shopping-cart" label="Add to Cart"
                    [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>

                                <td>{{ pvsystem.name }}</td>
                                <td>{{ pvsystem.peakPower }}</td>
                                <td>{{ pvsystem.address.zipCode }} {{ pvsystem.address.city }} {{ pvsystem.address.street }}</td>
                  
                  <span
                    [class]="'product-badge status-' + pvsystem.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span-->
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template let-pvsystem pTemplate="gridItem">
            <div class="p-col-12 p-md-4">
              <div class="product-grid-item card">
                <div class="product-grid-item-top">
                  <div>
                    <i class="pi pi-tag product-category-icon"></i>
                    <span class="product-category">{{pvsystem.name}}</span>
                  </div>
                  <!--span
                    [class]="'product-badge status-' + product.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span-->
                </div>
                <div class="product-grid-item-content">
                  <img src="{{ pvsystem.pictureURL }}" width="200px" alt="{{ pvsystem.name }}" />
                  <div class="product-name">{{pvsystem.name}}</div>
                  <div class="product-description">{{pvsystem.name}}</div>
                  <!--p-rating [ngModel]="product.rating" [readonly]="true" [cancel]="false"></p-rating-->
                </div>
                <!--div class="product-grid-item-bottom">
                  <span class="product-price">${{pvsystem.price}}</span>
                  <p-button icon="pi pi-shopping-cart" [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>
                </div-->
              </div>
            </div>
          </ng-template>
        </p-dataView>
      </div>
    </div>




    <!--div class="sectioncontainer" style="margin-bottom: 15px">
      <p-table [value]="PvSystemList" selectionMode="single" [(selection)]="selectedPvSystem" dataKey="id" *ngIf="PvSystemList.length>0" 
        [scrollable]="true">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            PV Systems
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width:210px">
            <col style="width:200px">
            <col style="width:100px">
            <col style="width:250px">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Peak Power</th>
            <th>Address</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pvsystem let-rowIndex="rowIndex">
          <tr [pSelectableRow]="pvsystem" [pSelectableRowIndex]="rowIndex">
            <td><img src="{{ pvsystem.pictureURL }}" alt="" width="200px;" /></td>
            <td>{{ pvsystem.name }}</td>
            <td>{{ pvsystem.peakPower }}</td>
            <td>{{ pvsystem.address.zipCode }} {{ pvsystem.address.city }} {{ pvsystem.address.street }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="summary">
          <div class="p-d-flex p-ai-center p-jc-between"></div>
        </ng-template>
      </p-table>
    </div-->
  </div>
</div>