<div class="container">
  <div class="sectioncontainer2">
    <div style="text-align: center; font-size: 30px; font-family: Arial; font-weight: bold; margin-bottom: 20px;">
      <span>Felhasználók</span>
    </div>
    <div class="sectioncontainer" style="margin-bottom: 15px">

      <p-table [value]="UserList" [paginator]="true" [rows]="5" selectionMode="single" [(selection)]="selectedUser" *ngIf="UserList.length>0"
        dataKey="id" [rowHover]="true" [scrollable]="true">
        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <div class="button-group">
              <button pButton icon="pi pi-user-plus" type="button" label=""
                class=" p-button-rounded p-button-success p-button-outlined" (click)="openNew()"></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="colgroup" let-columns>
          <colgroup>
            <col style="width:200px">
            <col style="width:200px">
            <col style="width:200px">
            <col style="width:250px">
            <col style="width:150px">
          </colgroup>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Name</th>
            <th>LoginName</th>
            <th>Email</th>
            <th>Roles</th>
            <th>Command</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr [pSelectableRow]="user">
            <td>
              {{ user.name }}
            </td>
            <td>
              {{ user.loginName }}
            </td>
            <td>
              {{ user.email }}
            </td>
            <td>
              {{ user.roles }}
            </td>
            <td>
              <button pButton pRipple type="button" (click)="onRowEdit(user)" icon="pi pi-pencil"
                class="p-button-rounded p-button-info p-button-outlined"></button>
              <button pButton pRipple type="button" (click)="removeUser(user)" icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-outlined"></button>
              <!--button pButton *ngIf="editing" pSaveEditableRow pRipple type="button" icon="pi pi-check"
                class="p-button-rounded p-button-success p-button-outlined"></button>
              <button pButton *ngIf="editing" pCancelEditableRow pRipple type="button" icon="pi pi-times"
                class="p-button-rounded p-button-danger p-button-outlined"></button-->
            </td>
          </tr>
        </ng-template>
        <!--ng-template pTemplate="summary">
                        <div class="p-d-flex p-ai-center p-jc-between">
                        </div>
                    </ng-template-->
      </p-table>
    </div>
  </div>
</div>

<p-dialog [(visible)]="userDialog" [style]="{ width: '450px' }" [header]="dialogHeader" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">

    <!-- 
      kezdete
    -->

    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="firstUserFormGroup">
        <form [formGroup]="firstUserFormGroup">
          <ng-template matStepLabel>Felhasználói adatok</ng-template>
          <mat-form-field class="example-full-width" style="width: 100%" [formGroup]="firstUserFormGroup">
            <mat-label>Falhasználónév</mat-label>
            <input matInput formControlName="loginName" placeholder="Falhasználónév" [(ngModel)]="editUser.loginName"
              id="loginName" type="text" required autofocus />
            <small class="p-invalid" *ngIf="!editUser.loginName">Falhasználónév megadása kötelező!</small>
          </mat-form-field>

          <mat-form-field class="example-full-width" style="width: 100%" [formGroup]="firstUserFormGroup">
            <mat-label>Teljes név</mat-label>
            <input matInput formControlName="name" placeholder="Teljes név" [(ngModel)]="editUser.name" id="name"
              type="text" required autofocus />
            <small class="p-invalid" *ngIf="!editUser.name">Név megadása kötelező!</small>
          </mat-form-field>

          <mat-form-field class="example-full-width" style="width: 100%" [formGroup]="firstUserFormGroup">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="Email" [(ngModel)]="editUser.email" id="email"
              type="text" required autofocus />
            <small class="p-invalid" *ngIf="!editUser.email">Email megadása kötelező!</small>
          </mat-form-field>

          <mat-form-field class="example-full-width" style="width: 100%" [formGroup]="firstUserFormGroup">
            <mat-label>Telefon</mat-label>
            <input matInput formControlName="phone" placeholder="Telefon" [(ngModel)]="editUser.phone" id="phone"
              type="text" />
            <!--small class="p-invalid" *ngIf="submitted && !editUser.name">Telefon is required.</small-->
          </mat-form-field>
        </form>
        <div>
          <button mat-stroked-button color="primary" [disabled]="!editUser.loginName || !editUser.name || !editUser.email"
            matStepperNext>Tovább</button>
        </div>
      </mat-step>
      <mat-step>
          <ng-template matStepLabel>Felhasználó szerepkörei</ng-template>
          <div style="text-align: left; left: 20%; position: sticky; margin-bottom: auto;">
            <mat-slide-toggle  color="primary" [(ngModel)]="adminRole" required>Admin
            </mat-slide-toggle>
            <br>
            <mat-slide-toggle color="primary" [(ngModel)]="reportRole" required>
              ReportUser
            </mat-slide-toggle>
            <br>
            <mat-slide-toggle color="primary" [(ngModel)]="serviceRole" required>
              ServiceUser
            </mat-slide-toggle>
            <br>
            <small class="p-invalid" *ngIf="!adminRole && !reportRole && !serviceRole">Legalább egy szerepkör
              kiválasztása kötelező!</small>
            <br>
          </div>
          <div>
            <button mat-stroked-button color="warn" matStepperPrevious>Vissza</button>
            <button mat-stroked-button color="primary"  matStepperNext (click)="requireOneControl()"
              [disabled]="!adminRole && !reportRole && !serviceRole">Tovább</button> 
          </div>
      </mat-step>
      <mat-step *ngIf="editing" [stepControl]="thirdUserFormGroup">
        <form [formGroup]="thirdUserFormGroup">

          <ng-template matStepLabel>Jelszó módosítása</ng-template>

          <div *ngIf="!passwordFiledVisibility && !answered">
            <p>Szeretné módosítani a felahsználó jelszavát?</p>
            <button mat-stroked-button color="primary" (click)="showPasswordFileds()">Igen</button>
            <button mat-stroked-button color="primary" (click)="goWithoutModify()">Nem</button>
            <br>
            <br>
          </div>
          <div *ngIf="passwordFiledVisibility">
            <mat-form-field class="example-full-width" style="width: 100%">
              <mat-label>Jelszó</mat-label>
              <input matInput formControlName="password" placeholder="Új jelszó" [(ngModel)]="password" id="name"
                type="password" required autofocus />
              <small class="p-invalid" *ngIf="!password">Jelszó megadása kötelező</small>
              <small class="p-invalid" *ngIf="password !== confirmPassword">A Jelszavak nem egyeznek!</small>
            </mat-form-field>

            <mat-form-field class="example-full-width" style="width: 100%">
              <mat-label>Jelszó megerősítése</mat-label>
              <input matInput formControlName="confirmPassword" placeholder="Jelszó megerősítése"
                [(ngModel)]="confirmPassword" id="name" type="password" required autofocus />
              <small class="p-invalid" *ngIf="!confirmPassword">Jelszó megerősítése kötelező</small>
              <small class="p-invalid" *ngIf="password !== confirmPassword">A Jelszavak nem egyeznek!</small>
            </mat-form-field>
          </div>
          <div *ngIf="answered">
            <button mat-stroked-button color="warn" matStepperPrevious>Vissza</button>
            <button mat-stroked-button color="primary" matStepperNext>Tovább</button>
          </div>
        </form>
      </mat-step>
      <mat-step *ngIf="!editing" [stepControl]="thirdUserFormGroup">
        <form [formGroup]="thirdUserFormGroup">

          <ng-template matStepLabel>Jelszó</ng-template>

          <mat-form-field class="example-full-width" style="width: 100%">
            <mat-label>Jelszó</mat-label>
            <input matInput formControlName="password" placeholder="Jelszó" [(ngModel)]="password" id="name"
              type="password" required autofocus />
            <small class="p-invalid" *ngIf="!password">Jelszó megadása kötelező</small>
            <small class="p-invalid" *ngIf="password !== confirmPassword">A Jelszavak nem egyeznek!</small>
          </mat-form-field>

          <mat-form-field class="example-full-width" style="width: 100%">
            <mat-label>Jelszó megerősítése</mat-label>
            <input matInput formControlName="confirmPassword" placeholder="Jelszó megerősítése"
              [(ngModel)]="confirmPassword" id="name" type="password" required autofocus />
            <small class="p-invalid" *ngIf="!confirmPassword">Jelszó megerősítése kötelező</small>
            <small class="p-invalid" *ngIf="password !== confirmPassword">A Jelszavak nem egyeznek!</small>
          </mat-form-field>

          <div>
            <button mat-stroked-button color="warn" matStepperPrevious>Vissza</button>
            <button mat-stroked-button color="primary" matStepperNext>Tovább</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Mentés</ng-template>
        <p>A rögzítéshez kattintson a Mentés gombra.</p>
        <div>
          <button mat-stroked-button color="warn" matStepperPrevious>Vissza</button>
          <button mat-stroked-button color="primary" [disabled]="editing" (click)="stepper.reset()">Reset</button>
          <button mat-stroked-button color="accent" (click)="saveUser()">Mentés</button>
        </div>
        <br>
        <!--div class="buttons" style="text-align: center">
          <button pButton pRipple label="Mentés" icon="pi pi-check" class="p-button-outlined p-button-success"
            style="min-width: 100px; max-width: 120px;" (click)="saveUser()"></button>
          <button pButton pRipple label="Mégse" icon="pi pi-times" class="p-button-outlined p-button-danger"
            style="min-width: 100px; max-width: 120px;" (click)="hideDialog()"></button>
        </div-->
      </mat-step>
    </mat-vertical-stepper>

    <!--
      vége
    -->


    <!--div class="sectioncontainer" style="margin-top: 10px; padding: inherit; padding-top: 10px;">

      <mat-form-field class="example-full-width" style="width: 100%" [formGroup]="editUserForm">
        <mat-label>Falhasználónév</mat-label>
        <input matInput formControlName="loginName" placeholder="Falhasználónév" [(ngModel)]="editUser.loginName"
          id="loginName" type="text" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !editUser.loginName">Falhasználónév is required.</small>
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 100%" [formGroup]="editUserForm">
        <mat-label>Teljes név</mat-label>
        <input matInput formControlName="name" placeholder="Teljes név" [(ngModel)]="editUser.name" id="name" type="text"
          required autofocus />
        <small class="p-invalid" *ngIf="submitted && !editUser.name">Name is required.</small>
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 100%" [formGroup]="editUserForm">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email" [(ngModel)]="editUser.email" id="email" type="text"
          required autofocus />
        <small class="p-invalid" *ngIf="submitted && !editUser.email">Name is required.</small>
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 100%" [formGroup]="editUserForm">
        <mat-label>Telefon</mat-label>
        <input matInput formControlName="phone" placeholder="Telefon" [(ngModel)]="editUser.phone" id="phone" type="text"
          autofocus />
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 100%">
        <mat-label>Jelszó</mat-label>
        <input matInput placeholder="Jelszó" [(ngModel)]="password" id="name" type="password" required autofocus />
        <small class="p-invalid" *ngIf="submitted && !editUser.password">Jelszó megadása kötelező</small>
        <small class="p-invalid" *ngIf="submitted && !passwordEquals">A Jelszavak nem egyeznek!</small>
      </mat-form-field>

      <mat-form-field class="example-full-width" style="width: 100%">
        <mat-label>Jelszó megerősítése</mat-label>
        <input matInput placeholder="Jelszó megerősítése" [(ngModel)]="passwordVerify" id="name" type="password"
          required autofocus />
        <small class="p-invalid" *ngIf="submitted && !passwordVerify">Jelszó megerősítése kötelező</small>
        <small class="p-invalid" *ngIf="submitted && !passwordEquals">A Jelszavak nem egyeznek!</small>
      </mat-form-field>

      <div style="text-align: left; left: 20%; position: sticky; margin-bottom: auto;">
        <mat-slide-toggle color="primary" [(ngModel)]="adminRole">Admin</mat-slide-toggle>
        <br>
        <mat-slide-toggle color="primary" [(ngModel)]="reportRole">ReportUser</mat-slide-toggle>
        <br>
        <mat-slide-toggle color="primary" [(ngModel)]="serviceRole">ServiceUser</mat-slide-toggle>
        <br>
        <small class="p-invalid" *ngIf="submitted && !hasRole">Legalább egy szerepkör kiválasztása kötelező!</small>
        <br>
      </div>
      <br>
      <div class="buttons" style="text-align: center">
        <button pButton pRipple label="Mentés" icon="pi pi-check" class="p-button-outlined p-button-success"
          style="min-width: 100px; max-width: 120px;" (click)="saveUser()"></button>
        <button pButton pRipple label="Mégse" icon="pi pi-times" class="p-button-outlined p-button-danger"
          style="min-width: 100px; max-width: 120px;" (click)="hideDialog()"></button>
      </div>
      <br>
    </div-->
    <br>
    <!--mat-form-field class="example-full-width" style="width: 100%">
      <mat-label>Teljes név</mat-label>
      <textarea matInput placeholder="Description" [(ngModel)]="group.description" id="description" required></textarea>
    </mat-form-field-->
  </ng-template>

  <!--ng-template pTemplate="footer">
    <div class="buttons" style="text-align: center">
      <button pButton pRipple label="Mentés" icon="pi pi-check" class="p-button-outlined p-button-success"
        style="min-width: 100px; max-width: 120px;" (click)="saveGroup()"></button>
      <button pButton pRipple label="Mégse" icon="pi pi-times" class="p-button-outlined p-button-danger"
        style="min-width: 100px; max-width: 120px;" (click)="hideDialog()"></button>
    </div>
  </ng-template-->

</p-dialog>