<!--
<mat-toolbar class="mat-elevation-z6 navbar" color="primary">
  <div fxHide.gt-sm fxLayoutAlign="start center">
    <button class="menu-button" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="title">{{ title }}</span>
  </div>
  <div fxHide.lt-md>
    <a class="brand" routerLink="/home" translate>APP_NAME</a>

    <button mat-button routerLink="/home" routerLinkActive="active">
      <mat-icon>home</mat-icon>
      <span translate>Főoldal</span>
    </button>
    <button mat-button routerLink="/about" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span translate>Információ</span>
    </button>
    <button mat-button routerLink="/power-plants" routerLinkActive="active">
      <mat-icon>info</mat-icon>
      <span translate>PV-Systems</span>
    </button>
    
  </div>
  <p-menubar [model]="items"></p-menubar>

  <span fxFlex></span>
  <app-language-selector icon="true"></app-language-selector>
  <button mat-icon-button [matMenuTriggerFor]="userMenu">
    <mat-icon>person</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu">
    <mat-list>
      <mat-list-item>
        <span translate>Logged in as</span>&nbsp;<b>{{ username }}</b>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
    <button mat-menu-item (click)="logout()" translate>Logout</button>
  </mat-menu>
</mat-toolbar-->

<div class="navbar">
  <p-menubar [model]="items">
    <ng-template pTemplate="start">
      <a class="brand" routerLink="/home"
        style="text-align: center; font-size: 18px; font-family: Arial; font-weight: bold; color: black;">
        <!--span>PVS_Monitor</span-->
        <img src="../../../assets/mik png white.png" height="50" class="p-mr-2" />
      </a>
    </ng-template>

    <ng-template pTemplate="end">
      <span class="pi pi-fw pi-user" style="padding-bottom: 10px"></span>
      <!--span translate style="padding-bottom: 10px">Bejelentkezve,</span-->
      <b style="padding-bottom: 10px">{{ username }}</b>
      <!--button mat-menu-item (click)="logout()" translate>Logout</button-->
      <!--button type="button" pButton label="Kilépés" (click)="logout()" icon="pi pi-fw pi-sign-out" style="margin-left:.25em"></button-->
      <button pButton pRipple type="button" label="" (click)="logout()" icon="pi pi-fw pi-sign-out"
        class="p-button-danger p-button-text"></button>
    </ng-template>
  </p-menubar>
</div>
<!--p-menubar [model]="items">
  <ng-template pTemplate="start">
        <span translate>Bejelentkezve mint,</span>&nbsp;<b>{{ username }}</b>

    <img src="../../../assets/svg/primeng-logo-horizontal.svg" height="40" class="p-mr-2">
</ng-template>
  <div>
      <input type="text" pInputText placeholder="Search">
      <button type="button" pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em"></button>
  </div>
</p-menubar-->