<div class="container">
  <div class="sectioncontainer2">
    <div style="text-align: center; font-size: 30px; font-family: Arial; font-weight: bold; margin-bottom: 20px;">
      <span>Üdvözli a PVS_Monitor rendszer!</span>
      <br>
    </div>

    <br>

    <div class="card">
      <p-dataView #dt [value]="PvSystemList" [paginator]="true" [rows]="3" filterBy="name" layout="list"
        *ngIf="PvSystemList.length>0" selectionMode="single">
        <ng-template pTemplate="header">

          <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
            <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
            <span>Elérhető rendszerek: 11/11 db</span>
          </div>
        </ng-template>
        <ng-template let-pvsystem pTemplate="listItem">
          <div class="p-col-12">
            <div class="product-list-item">
              <img src="{{ pvsystem.pictureURL }}" width="200px" />
              <div class="product-list-detail">
                <div class="product-name">Erőmű neve: {{pvsystem.name}}</div>
                <i class="pi pi-sun product-category-icon"></i><span class="product-description">Teljesítmény: {{
                  pvsystem.peakPower }} W</span>
                <br>
                <i class="pi pi-calendar product-category-icon"></i><span class="product-description">Telepítés ideje:
                  {{pvsystem.installationDate}}</span>
                <br>
                <i class="pi pi-map-marker product-category-icon"></i><span class="product-category">Cím: {{
                  pvsystem.address.zipCode }} {{ pvsystem.address.city }} {{ pvsystem.address.street }}</span>
              </div>
              <div class="product-list-action">
                <span class="product-price">{{ pvsystem.address.country }} <i
                    class="pi pi-flag product-category-icon"></i></span>
                <button pButton pRipple (click)="openPvInfoDialog(pvsystem)" type="button" icon="pi pi-info-circle"
                  label="Részletek" class="p-button-raised p-button-text p-button-plain"></button>
                <!--p-button icon="pi pi-shopping-cart" label="Add to Cart"
                  [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"></p-button>

                              <td>{{ pvsystem.name }}</td>
                              <td>{{ pvsystem.peakPower }}</td>
                              <td>{{ pvsystem.address.zipCode }} {{ pvsystem.address.city }} {{ pvsystem.address.street }}</td>
                
                <span
                  [class]="'product-badge status-' + pvsystem.inventoryStatus.toLowerCase()">{{product.inventoryStatus}}</span-->
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template let-pvsystem pTemplate="gridItem">
          <div class="p-col-12 p-md-4">
            <div class="product-grid-item card">
              <div class="product-grid-item-top">
                <div>
                  <i class="pi pi-tag product-category-icon"></i>
                  <span class="product-category">{{pvsystem.name}}</span>
                </div>
              </div>
              <div class="product-grid-item-content">
                <img src="{{ pvsystem.pictureURL }}" width="200px" alt="{{ pvsystem.name }}" />
                <br>
                <button pButton pRipple (click)="openPvInfoDialog(pvsystem)" type="button" icon="pi pi-info-circle"
                  label="Részletek" class="p-button-raised p-button-text p-button-plain"></button>
              </div>
            </div>
          </div>
        </ng-template>
      </p-dataView>
    </div>
  </div>
<br>
<br>
  <p-dialog [(visible)]="pvInfoDialog" [header]="dialogHeader" style="margin-top: 100px; z-index: 300px;" styleClass="p-fluid"
    >

    <ng-template pTemplate="content">

      <mat-form-field required appearance="legacy" [hideRequiredMarker]="yearInput" [floatLabel]="yearInput"
        >
        <mat-label>Vizsgált év</mat-label>
        <mat-select required [(ngModel)]="selectedYear" value="2019" name="year">
          <mat-option *ngFor="let year of yearInput" [value]="year">
            {{ year }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field required appearance="legacy" [hideRequiredMarker]="pvSystemInput" [floatLabel]="pvSystemInput"
        >
        <mat-label>Mértékegység</mat-label>
        <mat-select required [(ngModel)]="selectedUnit" name="unit">
          <mat-option *ngFor="let unit of unitInput" [value]="unit">
            {{ unit }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-raised-button (click)="search()" label="" icon="pi pi-search" style="width: 100px;">
        <i class="pi pi-search"></i> Keresés
      </button>
      <mat-tab-group>
        <mat-tab label="Éves termelés">
          <mat-card>

                <div style="display: block; cursor: pointer; min-width: 300px;">
                  <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
                    [colors]="donutColors">
                  </canvas>
                </div>
 
          </mat-card>

        </mat-tab>
        <mat-tab label="Profit, CO2">
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length>1">

            <!-- Position Column -->
            <ng-container matColumnDef="type">
              <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
            </ng-container>

            <!-- Position Column -->
            <ng-container matColumnDef="value">
              <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.value}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="unit">
              <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
              <mat-cell *matCellDef="let element"> {{element.unit}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </mat-tab>
      </mat-tab-group>

      <div class="p-grid" style="text-align: center;">
        <div class="p-col-12 p-md-6 p-lg-3">

        </div>
        <div class="p-col-12 p-md-6 p-lg-3">

        </div>
        <div class="p-col-12 p-md-6 p-lg-3">

        </div>
        <div class="p-col-12 p-md-6 p-lg-3">

        </div>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="pvInfoDialog=false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>

  <!--div class="container">
    <mat-card>
      <p>
      </p>
      <mat-card-content>
        <div class="sectioncontainer">
          <mat-card-title translate>Rács Balázs - I4MES5 Szakdolgozat</mat-card-title>
          <mat-card-subtitle>Rács Balázs - I4MES5 Szakdolgozat</mat-card-subtitle>
        </div>

        <mat-grid-list cols="4" rowHeight="110px">
          <mat-grid-tile *ngFor="let tile of tiles" [colspan]="tile.cols" [rowspan]="tile.rows"
            [style.background]="tile.color">
            {{tile.text}}
          </mat-grid-tile>
        </mat-grid-list>
        <br><br>
        <mat-grid-list cols="4" rowHeight="250px">
          <mat-grid-tile [colspan]="tiles[0].cols" [rowspan]="tiles[0].rows" [style.background]="tiles[0].color">
            <div style="display: block; cursor: pointer;">
              <canvas baseChart [data]="pieChartData" [colors]="lineChartColors" [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType">
              </canvas>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="tiles[1].cols" [rowspan]="tiles[1].rows" [style.background]="tiles[1].color">
            <div style=" cursor: pointer;">
              <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
                [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
              </canvas>
            </div>
          </mat-grid-tile>


          <mat-grid-tile [colspan]="tiles[2].cols" [rowspan]="tiles[2].rows" [style.background]="tiles[2].color">
            <div style="display: block; cursor: pointer;">
              <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
              </canvas>
            </div>
          </mat-grid-tile>

          <mat-grid-tile [colspan]="tiles[3].cols" [rowspan]="tiles[3].rows" [style.background]="tiles[3].color">
            <div style="display: block;">
              <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
                [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                [chartType]="lineChartType" [plugins]="lineChartPlugins">
              </canvas>
            </div>

          </mat-grid-tile>
        </mat-grid-list>


      </mat-card-content>
    </mat-card>

    <div class="sectioncontainer">
      <div class="p-grid">
        <div class="p-col-3">
          <div style="display: block; cursor: pointer;">
            <canvas baseChart [data]="pieChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType">
            </canvas>
          </div>
        </div>
        <div class="p-col-3">
          <div style="display: block;">
            <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels" [chartType]="pieChartType"
              [options]="pieChartOptions" [plugins]="pieChartPlugins" [legend]="pieChartLegend">
            </canvas>
          </div>
        </div>
        <div class="p-col-3">
          <div style="display: block;">
            <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
              [plugins]="barChartPlugins" [legend]="barChartLegend" [chartType]="barChartType">
            </canvas>
          </div>
        </div>
        <div class="p-col-3">
          <div style="display: block;">
            <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels"
              [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
              [chartType]="lineChartType" [plugins]="lineChartPlugins">
            </canvas>
          </div>
        </div>
      </div>
    </div> 
  </div-->