<div fxFlex>
  <app-header></app-header>
  <mat-sidenav-container style="z-index: -200 !important;" fxFill>
    <!--mat-sidenav #sidenav mode="over" ngClass.gt-sm="has-border">
      <nav>
        <mat-list>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/home" routerLinkActive="active" (click)="sidenav.close()">
            <span translate>Home</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="sidenav.close()">
            <span translate>About</span>
          </a>
          <mat-divider></mat-divider>
          <a mat-list-item routerLink="/power-plants" routerLinkActive="active" (click)="sidenav.close()">
            <span translate>About</span>
          </a>
          <mat-divider></mat-divider>
        </mat-list>
      </nav>
    </mat-sidenav-->
    <mat-sidenav-content>
      <router-outlet style="z-index: -200 !important; margin-top: 20px;"></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
