@import "src/theme/theme-variables";

:host {
  display: flex;
  flex: 1;
  background-color: #f5f5f5;
}

.inline-loader {
  display: inline-block;
}

.version {
  margin: 0;
}

.login-container,
.mat-form-field {
  width: 100%;
}

.login-fields > :not(:last-child) {
  margin-bottom: 8px;
}

.login-error {
  color: mat-color($app-warn);
}

.sectioncontainer {
  background-color: white;
  box-shadow: 0 1px 3px #2196f3;   //#2196f3; // #4baaf5
  border-radius: 4px;
  padding: 5px;
}